<div class='form-group'>
    <label>Content</label>
    <textarea
    class='form-control' 
    name='content' 
    placeholder='Whatchoo cluckin\' \'bout?' 
    cols='60'
    rows='5'
    >
    <%- cluck ? cluck.content : '' %>
    </textarea> 
</div>

<div class='form-group'>
    <label>Image Url</label>
    <input 
    type="url" 
    class='form-control' 
    name='image_url' 
    placeholder='e.g. http://imgurl.com/myPic.jpg' 
    value="<%= cluck ? cluck.image_url : '' %>"
    />
</div>
<div class='form-group'>
    <label>Hashtag</label>
    <input 
    type="text" 
    class='form-control' 
    name='hashtag' 
    placeholder='hashtag' 
    value="<%= cluck ? cluck.hashtag : '' %>"
    />
</div>
 