<%- include("../partials/header.ejs") %> 

<form action="/sign_in" method="post">
    <div>
        <label for="username">User Name</label>
        <input type="text" name="username" id="">
    </div>
    <button type="submit">Sign In</button>
</form>

<%- include("../partials/footer.ejs") %> 